.modal-wrapper {
  background: rgb(250, 249, 249);
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  margin: 60px auto 0;
  transition: all .8s;
  width: 60%;
}

.modal-header {
  background: #263238;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.modal-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.modal-footer {
  background: #263238;
  height: 30px;
  padding: 1%;
}

.btn-done {
  background: coral;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}

.btn-done {
  background-color: rgb(22, 163, 240);
  float: left;
}

.back-drop {
  background-color: rgba(147, 147, 147, 0.42);
  height:auto;
  transition: all 1.3s;
  width: 100%;
  position:absolute;
}
