.form{
    margin:5% 0 0 15%;
    
}
span{
    width: 100%;
    margin-right: 5%;
}
 input[type=search] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

 button {
    background-color: rgb(22, 163, 240); /* Green */
    border: none;
    color: white;
    padding: 1.5%;
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5%;
  }

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .flex-container :hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(20, 205, 246, 0.19);
  }
  
  .flex-container > div {
    background-color:whitesmoke ;
    width: 20%;
    margin: 4%;
    padding: 2% 2% 0% 2% !important;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

